:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #f0f8ff; /* Alice Blue */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 1rem 0;
}

#drawing-board {
  border: 2px solid #ccc;
  background-color: #f0f0f0;
  cursor: crosshair;
  touch-action: none; /* prevent scrolling on touch devices */
  width: 90vw;
  height: 70vh;
  max-width: 800px;
  max-height: 600px;
}

.toolbar {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.color-controls {
  display: flex;
  gap: 0.5rem;
}

.color-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #555;
  cursor: pointer;
}

.shape-controls {
  display: flex;
  gap: 0.5rem;
}

.shape-btn {
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #555;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #213547;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shape-btn:hover {
  border-color: #747bff;
}

.shape-btn svg {
  pointer-events: none;
}

#rainbow-btn {
    background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
}

#slider-container {
  width: 90vw;
  max-width: 800px;
  height: 25px;
  background-color: #ddd;
  border: 2px solid #aaa;
  box-sizing: border-box;
  margin-top: 10px;
  position: relative;
  touch-action: none;
  user-select: none;
}

#slider-handle {
  width: 50px;
  height: 35px;
  background-color: #f06;
  position: absolute;
  top: -5px;
  left: 0;
  cursor: ew-resize;
  border-radius: 3px;
  border: 2px solid #555;
  box-sizing: border-box;
}